# Abaikan hanya .env
.env

# Abaikan hanya file tidak penting
/vendor/
/node_modules/
/storage/*.key
/storage/*.log
/public/storage
.phpunit.result.cache
.phpstorm.meta.php
.idea/
.vscode/
.DS_Store
Thumbs.db
